# RLDT

## Step 1: Import the necessary libraries:

In [27]:
import numpy as np
import pandas as pd
import networkx as nx
import random
import torch

## Step 2: Define the environment:

### Step 2.1: Devices

#### *Gloabl variables*

In [28]:
num_IOT_devices = 5

voltages_frequencies_IOT = [
    (1e6, 1.8),
    (2e6, 2.3),
    (4e6, 2.7),
    (8e6, 4.0),
    (16e6, 5.0),
    (32e6, 6.5),
]
num_MEC_devices = 10

voltages_frequencies_MEC = [
    (6 * 1e8, 0.8),
    (7.5 * 1e8, 0.825),
    (10 * 1e8, 1.0),
    (15 * 1e8, 1.2),
    (30 * 1e8, 2),
    (40 * 1e8, 3.1),
]

task_kinds = [1,2,3,4]

min_num_nodes_dag = 4
max_num_nodes_dag = 20
max_num_parents_dag = 5

num_dag_generations = 100

#### *IOT*

In [29]:
devices_data_IOT = []
for i in range(num_IOT_devices):
    cpu_cores = np.random.choice([4, 6, 8])
    device_info = {
        "id": i,
        "number_of_cpu_cores": cpu_cores,
        "occupied_cores": [np.random.choice([0, 1]) for _ in range(cpu_cores)],
        "voltages_frequencies": [
            voltages_frequencies_IOT[i]
            for i in np.random.choice(6, size=4, replace=False)
        ],
        "ISL": np.random.randint(10, 21),
        "capacitance": [np.random.uniform(2, 3) * 1e-9 for _ in range(cpu_cores)],
        "powerIdle": [
            np.random.choice([700, 800, 900]) * 1e-6 for _ in range(cpu_cores)
        ],
        "batteryLevel": np.random.randint(36, 41) * 1e9,
        "errorRate": np.random.randint(1, 6) / 100,
        "accetableTasks": np.random.choice(
            task_kinds, size=np.random.randint(2, 5), replace=False
        ),
        "handleSafeTask": np.random.choice([0, 1], p=[0.25, 0.75]),
    }
    devices_data_IOT.append(device_info)

IoTdevices = pd.DataFrame(devices_data_IOT)

IoTdevices.set_index("id", inplace=True)
IoTdevices

,number_of_cpu_cores,occupied_cores,voltages_frequencies,ISL,capacitance,powerIdle,batteryLevel,errorRate,accetableTasks,handleSafeTask
id,,,,,,,,,,
0,4,"[1, 0, 0, 0]","[(32000000.0, 6.5), (1000000.0, 1.8), (4000000...",15,"[2.2187642195730702e-09, 2.5581020020173416e-0...","[0.0007999999999999999, 0.0007999999999999999,...",3.800000e+10,0.01,"[2, 3]",1
1,6,"[1, 1, 0, 0, 1, 0]","[(16000000.0, 5.0), (32000000.0, 6.5), (800000...",19,"[2.985650454110601e-09, 2.2420552715115008e-09...","[0.0007, 0.0007999999999999999, 0.000799999999...",3.600000e+10,0.01,"[4, 3, 1, 2]",1
2,8,"[1, 0, 1, 0, 0, 0, 1, 1]","[(32000000.0, 6.5), (2000000.0, 2.3), (4000000...",17,"[2.1375209441459933e-09, 2.341066351050259e-09...","[0.0007, 0.0007, 0.0007999999999999999, 0.0007...",3.600000e+10,0.01,"[1, 2, 4, 3]",1
3,4,"[1, 1, 0, 0]","[(1000000.0, 1.8), (16000000.0, 5.0), (4000000...",18,"[2.6635017691080557e-09, 2.005061583846219e-09...","[0.0007999999999999999, 0.0009, 0.0007, 0.0007]",3.900000e+10,0.01,"[3, 4]",1
4,8,"[0, 0, 1, 0, 1, 1, 0, 0]","[(1000000.0, 1.8), (8000000.0, 4.0), (2000000....",20,"[2.434394365510429e-09, 2.3500784076946757e-09...","[0.0007, 0.0007, 0.0007999999999999999, 0.0007...",3.900000e+10,0.01,"[2, 3]",1

#### *MEC*

In [30]:
devices_data_MEC = []
for i in range(num_MEC_devices):
    cpu_cores = np.random.choice([16,32,64])
    device_info = {
        "id": i,
        "number_of_cpu_cores": cpu_cores,
        "occupied_cores": [np.random.choice([0, 1]) for _ in range(cpu_cores)],
        "voltages_frequencies": [
            voltages_frequencies_MEC[i]
            for i in np.random.choice(6, size=4, replace=False)
        ],
        "capacitance": [np.random.uniform(1.5, 2) * 1e-9 for _ in range(cpu_cores)],
        "powerIdle": [np.random.choice([9, 9, 10]) * 1e-5 for _ in range(cpu_cores)],
        "errorRate": np.random.randint(5, 11) / 100,
        "accetableTasks": np.random.choice(
            task_kinds, size=np.random.randint(2, 5), replace=False
        ),
        "handleSafeTask": np.random.choice([0, 1], p=[0.75, 0.25]),
    }
    devices_data_MEC.append(device_info)

MECDevices = pd.DataFrame(devices_data_MEC)

MECDevices.set_index("id", inplace=True)
MECDevices

,number_of_cpu_cores,occupied_cores,voltages_frequencies,capacitance,powerIdle,errorRate,accetableTasks,handleSafeTask
id,,,,,,,,
0,64,"[0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, ...","[(600000000.0, 0.8), (750000000.0, 0.825), (40...","[1.7894324477537793e-09, 1.7192370615090437e-0...","[9e-05, 0.0001, 9e-05, 9e-05, 0.0001, 9e-05, 9...",0.05,"[1, 2, 3, 4]",0
1,16,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0]","[(750000000.0, 0.825), (4000000000.0, 3.1), (3...","[1.9235715720477948e-09, 1.6774525952313605e-0...","[9e-05, 0.0001, 9e-05, 9e-05, 0.0001, 0.0001, ...",0.10,"[3, 4, 1, 2]",0
2,32,"[0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, ...","[(3000000000.0, 2), (750000000.0, 0.825), (150...","[1.7343303209970632e-09, 1.5281516378409186e-0...","[9e-05, 9e-05, 9e-05, 9e-05, 9e-05, 9e-05, 9e-...",0.09,"[4, 2]",1
3,64,"[0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, ...","[(1000000000.0, 1.0), (4000000000.0, 3.1), (30...","[1.9383268013291726e-09, 1.7017414331061988e-0...","[9e-05, 9e-05, 0.0001, 9e-05, 0.0001, 0.0001, ...",0.06,"[2, 1, 3, 4]",0
4,16,"[0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1]","[(4000000000.0, 3.1), (750000000.0, 0.825), (1...","[1.8484807311832109e-09, 1.998627767384197e-09...","[0.0001, 9e-05, 9e-05, 0.0001, 9e-05, 9e-05, 9...",0.10,"[3, 1, 2]",0
5,32,"[0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ...","[(3000000000.0, 2), (4000000000.0, 3.1), (7500...","[1.920914388379136e-09, 1.5698861883131449e-09...","[9e-05, 0.0001, 0.0001, 9e-05, 9e-05, 9e-05, 9...",0.06,"[2, 1, 4, 3]",0
6,32,"[0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, ...","[(1000000000.0, 1.0), (750000000.0, 0.825), (6...","[1.825683605494123e-09, 1.885623334259869e-09,...","[9e-05, 9e-05, 0.0001, 9e-05, 9e-05, 9e-05, 9e...",0.10,"[2, 3, 4]",0
7,64,"[1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, ...","[(3000000000.0, 2), (750000000.0, 0.825), (600...","[1.6024921477079106e-09, 1.6465738651305067e-0...","[0.0001, 9e-05, 0.0001, 9e-05, 0.0001, 9e-05, ...",0.05,"[1, 3, 2, 4]",1
8,64,"[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, ...","[(600000000.0, 0.8), (4000000000.0, 3.1), (300...","[1.7697456461876688e-09, 1.8953615824194817e-0...","[9e-05, 9e-05, 9e-05, 0.0001, 9e-05, 0.0001, 9...",0.08,"[1, 2]",0
9,64,"[0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, ...","[(600000000.0, 0.8), (1000000000.0, 1.0), (150...","[1.650481783473408e-09, 1.8540860443226408e-09...","[9e-05, 0.0001, 9e-05, 9e-05, 9e-05, 9e-05, 9e...",0.06,"[3, 2, 1, 4]",0

#### *CLOUD*

In [31]:
cloud = [(2.8e9, 1), (3.9e9, 2)]

### Step 2.2: Application

#### *helper function : generate_random_dag*

In [32]:
def generate_random_dag(num_nodes):
    dag = nx.DiGraph()

    nodes = [f"t{i+1}" for i in range(num_nodes)]
    dag.add_nodes_from(nodes)

    available_parents = {node: list(nodes[:i]) for i, node in enumerate(nodes)}

    for i in range(2, num_nodes + 1):
       
        num_parents = min(
            random.randint(1, min(i, max_num_parents_dag)), len(available_parents[f"t{i}"])
        )

        # select parents
        parent_nodes = random.sample(available_parents[f"t{i}"], num_parents)
        # add parents
        dag.add_edges_from((parent_node, f"t{i}") for parent_node in parent_nodes)

        # update available parents
        available_parents[f"t{i}"] = list(nodes[:i])

    return dag

#### *Generate task DAGs*

In [33]:
tasks_data = []

start_node_number = 1
for run in range(num_dag_generations):

    num_nodes = random.randint(min_num_nodes_dag, max_num_nodes_dag)

    random_dag = generate_random_dag(num_nodes)

    mapping = {
        f"t{i}": f"t{i + start_node_number - 1}" for i in range(1, num_nodes + 1)
    }

    random_dag = nx.relabel_nodes(random_dag, mapping)

    for node in random_dag.nodes:
        parents = list(random_dag.predecessors(node))
        task_info = {
            "id": node,
            "dependency": parents,
            "mobility": np.random.randint(1, 10),
            "kind": np.random.choice(task_kinds),
            "safe": np.random.choice([0, 1], p=[0.95, 0.05]),
            "computationalLoad": int(np.random.uniform(1, 100) * 1e4),
            "dataEntrySize": (np.random.randint(10, 100) // 10)
            * (10 ** np.random.choice([3, 6])),
            "returnDataSize": (np.random.randint(10, 100) // 10)
            * (10 ** np.random.choice([3, 6])),
            "status": "READY",
        }
        tasks_data.append(task_info)
    start_node_number += num_nodes

np.random.shuffle(tasks_data)
tasks = pd.DataFrame(tasks_data)

tasks.set_index("id", inplace=True)

tasks

,dependency,mobility,kind,safe,computationalLoad,dataEntrySize,returnDataSize,status
id,,,,,,,,
t430,"[t428, t429]",4,3,0,822771,9000000,3000000,READY
t1134,[t1125],1,3,0,694945,2000000,8000,READY
t297,"[t291, t295, t296]",3,3,0,677279,2000000,6000,READY
t593,[t591],7,2,0,664190,1000,9000,READY
t1088,"[t1077, t1084]",8,4,0,822435,9000000,2000000,READY
...,...,...,...,...,...,...,...,...
t293,[t291],6,1,0,545327,7000,3000000,READY
t899,"[t895, t896, t897, t898]",3,3,0,626349,9000,1000000,READY
t399,"[t391, t393, t394]",5,2,0,583521,9000000,6000000,READY
t566,"[t559, t561, t562, t565]",9,4,0,665942,8000000,1000,READY
t909,[t908],9,3,0,504686,7000,7000000,READY

## Step 3: Preprocessing

### Step 3.1: Clustering

#### *Tasks*

In [34]:
x = 0
for kind in task_kinds:
    for safe in (0, 1):
        selected_tasks = tasks.loc[(tasks["kind"] == kind) & (tasks["safe"] == safe), :]
        x += 1
        tasks.loc[selected_tasks.index, "cluster"] = x
        
tasks["cluster"] = tasks["cluster"].astype(int)
tasks

,dependency,mobility,kind,safe,computationalLoad,dataEntrySize,returnDataSize,status,cluster
id,,,,,,,,,
t430,"[t428, t429]",4,3,0,822771,9000000,3000000,READY,5
t1134,[t1125],1,3,0,694945,2000000,8000,READY,5
t297,"[t291, t295, t296]",3,3,0,677279,2000000,6000,READY,5
t593,[t591],7,2,0,664190,1000,9000,READY,3
t1088,"[t1077, t1084]",8,4,0,822435,9000000,2000000,READY,7
...,...,...,...,...,...,...,...,...,...
t293,[t291],6,1,0,545327,7000,3000000,READY,1
t899,"[t895, t896, t897, t898]",3,3,0,626349,9000,1000000,READY,5
t399,"[t391, t393, t394]",5,2,0,583521,9000000,6000000,READY,3
t566,"[t559, t561, t562, t565]",9,4,0,665942,8000000,1000,READY,7
t909,[t908],9,3,0,504686,7000,7000000,READY,5

#### *IOT & MEC Devices*

In [35]:
x = 1
IoTdevices["cluster"] = [[] for _ in range(len(IoTdevices))]

for kind in task_kinds:
    for safe in (0, 1):
        selected_IoTdevices = IoTdevices[
            IoTdevices["accetableTasks"].apply(lambda lst: kind in lst)
        ]

        condition = (IoTdevices.index.isin(selected_IoTdevices.index)) & (
            (IoTdevices["handleSafeTask"] == 0) & (safe == 0)
            | (IoTdevices["handleSafeTask"] == 1)
        )

        IoTdevices.loc[condition, "cluster"] = IoTdevices.loc[
            condition, "cluster"
        ].apply(lambda lst: lst + [x])

        x += 1
# ---------------------------------
x = 1
MECDevices["cluster"] = [[] for _ in range(len(MECDevices))]

for kind in task_kinds:
    for safe in (0, 1):
        selected_MECDevices = MECDevices[
            MECDevices["accetableTasks"].apply(lambda lst: kind in lst)
        ]

        condition = (MECDevices.index.isin(selected_MECDevices.index)) & (
            (MECDevices["handleSafeTask"] == 0) & (safe == 0)
            | (MECDevices["handleSafeTask"] == 1)
        )

        MECDevices.loc[condition, "cluster"] = MECDevices.loc[
            condition, "cluster"
        ].apply(lambda lst: lst + [x])

        x += 1

MECDevices
IoTdevices

,number_of_cpu_cores,occupied_cores,voltages_frequencies,ISL,capacitance,powerIdle,batteryLevel,errorRate,accetableTasks,handleSafeTask,cluster
id,,,,,,,,,,,
0,4,"[1, 0, 0, 0]","[(32000000.0, 6.5), (1000000.0, 1.8), (4000000...",15,"[2.2187642195730702e-09, 2.5581020020173416e-0...","[0.0007999999999999999, 0.0007999999999999999,...",3.800000e+10,0.01,"[2, 3]",1,"[3, 4, 5, 6]"
1,6,"[1, 1, 0, 0, 1, 0]","[(16000000.0, 5.0), (32000000.0, 6.5), (800000...",19,"[2.985650454110601e-09, 2.2420552715115008e-09...","[0.0007, 0.0007999999999999999, 0.000799999999...",3.600000e+10,0.01,"[4, 3, 1, 2]",1,"[1, 2, 3, 4, 5, 6, 7, 8]"
2,8,"[1, 0, 1, 0, 0, 0, 1, 1]","[(32000000.0, 6.5), (2000000.0, 2.3), (4000000...",17,"[2.1375209441459933e-09, 2.341066351050259e-09...","[0.0007, 0.0007, 0.0007999999999999999, 0.0007...",3.600000e+10,0.01,"[1, 2, 4, 3]",1,"[1, 2, 3, 4, 5, 6, 7, 8]"
3,4,"[1, 1, 0, 0]","[(1000000.0, 1.8), (16000000.0, 5.0), (4000000...",18,"[2.6635017691080557e-09, 2.005061583846219e-09...","[0.0007999999999999999, 0.0009, 0.0007, 0.0007]",3.900000e+10,0.01,"[3, 4]",1,"[5, 6, 7, 8]"
4,8,"[0, 0, 1, 0, 1, 1, 0, 0]","[(1000000.0, 1.8), (8000000.0, 4.0), (2000000....",20,"[2.434394365510429e-09, 2.3500784076946757e-09...","[0.0007, 0.0007, 0.0007999999999999999, 0.0007...",3.900000e+10,0.01,"[2, 3]",1,"[3, 4, 5, 6]"

### Step 3.2: Queueing

In [36]:
sorted_tasks = tasks.sort_values(by="mobility").copy()
proccessingQueue = set()
for index, row in sorted_tasks.iterrows():
    if row["status"] == "Queued":
        continue
    for dep in row["dependency"]:
        if sorted_tasks.loc[dep, "status"] != "Queued":
            proccessingQueue.add(dep)
            sorted_tasks.loc[dep, "status"] = "Queued"
            dependecny_meet = False

    proccessingQueue.add(index)
    sorted_tasks.loc[index, "status"] = "Queued"

proccessingQueue = list(proccessingQueue)
proccessingQueue

['t484',
 't908',
 't621',
 't1014',
 't939',
 't1030',
 't42',
 't1093',
 't1195',
 't980',
 't7',
 't1134',
 't395',
 't236',
 't703',
 't464',
 't1129',
 't543',
 't544',
 't97',
 't644',
 't472',
 't1077',
 't1119',
 't739',
 't438',
 't267',
 't761',
 't150',
 't239',
 't1173',
 't1025',
 't553',
 't1124',
 't193',
 't479',
 't853',
 't251',
 't44',
 't111',
 't669',
 't870',
 't28',
 't1043',
 't713',
 't1057',
 't23',
 't299',
 't1048',
 't448',
 't102',
 't608',
 't1095',
 't626',
 't164',
 't56',
 't357',
 't206',
 't894',
 't750',
 't82',
 't262',
 't47',
 't706',
 't828',
 't565',
 't353',
 't503',
 't281',
 't1087',
 't541',
 't100',
 't376',
 't577',
 't1136',
 't730',
 't1060',
 't445',
 't309',
 't65',
 't1008',
 't1038',
 't540',
 't407',
 't1176',
 't310',
 't555',
 't1183',
 't709',
 't179',
 't29',
 't1104',
 't860',
 't11',
 't776',
 't928',
 't297',
 't1149',
 't592',
 't536',
 't1107',
 't457',
 't1162',
 't406',
 't775',
 't441',
 't137',
 't209',
 't566',
 't801',
 't909',
 't501',
 't569',
 't680',
 't710',
 't599',
 't1039',
 't755',
 't998',
 't390',
 't624',
 't938',
 't843',
 't704',
 't1022',
 't1010',
 't114',
 't1034',
 't1115',
 't165',
 't490',
 't741',
 't594',
 't477',
 't514',
 't944',
 't875',
 't731',
 't18',
 't274',
 't1166',
 't679',
 't79',
 't664',
 't530',
 't616',
 't1201',
 't68',
 't491',
 't550',
 't276',
 't773',
 't49',
 't199',
 't24',
 't1066',
 't1009',
 't867',
 't203',
 't373',
 't118',
 't849',
 't769',
 't877',
 't764',
 't38',
 't606',
 't214',
 't912',
 't198',
 't629',
 't856',
 't537',
 't975',
 't1123',
 't63',
 't17',
 't1103',
 't358',
 't721',
 't1006',
 't252',
 't8',
 't324',
 't578',
 't1168',
 't815',
 't661',
 't408',
 't681',
 't1114',
 't866',
 't314',
 't593',
 't167',
 't439',
 't1058',
 't907',
 't67',
 't987',
 't952',
 't271',
 't144',
 't139',
 't1035',
 't243',
 't465',
 't786',
 't153',
 't27',
 't634',
 't208',
 't495',
 't959',
 't50',
 't478',
 't301',
 't1120',
 't168',
 't174',
 't43',
 't140',
 't613',
 't1080',
 't850',
 't689',
 't210',
 't213',
 't91',
 't968',
 't101',
 't13',
 't1143',
 't527',
 't329',
 't738',
 't377',
 't904',
 't77',
 't892',
 't146',
 't748',
 't471',
 't672',
 't1099',
 't888',
 't694',
 't1101',
 't127',
 't443',
 't796',
 't249',
 't84',
 't1185',
 't816',
 't561',
 't1128',
 't261',
 't308',
 't1078',
 't155',
 't1121',
 't736',
 't942',
 't1127',
 't808',
 't729',
 't564',
 't922',
 't1179',
 't1190',
 't655',
 't798',
 't161',
 't362',
 't1003',
 't466',
 't1156',
 't1122',
 't411',
 't191',
 't735',
 't539',
 't659',
 't948',
 't1024',
 't821',
 't116',
 't1082',
 't232',
 't1117',
 't719',
 't372',
 't614',
 't371',
 't334',
 't874',
 't820',
 't237',
 't559',
 't227',
 't436',
 't416',
 't610',
 't1097',
 't946',
 't905',
 't224',
 't557',
 't1096',
 't615',
 't1059',
 't645',
 't94',
 't277',
 't805',
 't809',
 't365',
 't803',
 't264',
 't354',
 't930',
 't352',
 't476',
 't456',
 't1050',
 't204',
 't1091',
 't766',
 't744',
 't331',
 't192',
 't953',
 't241',
 't868',
 't418',
 't61',
 't720',
 't789',
 't312',
 't751',
 't1125',
 't475',
 't6',
 't108',
 't648',
 't341',
 't558',
 't259',
 't926',
 't623',
 't1067',
 't759',
 't19',
 't560',
 't827',
 't247',
 't86',
 't554',
 't857',
 't579',
 't791',
 't622',
 't1055',
 't865',
 't88',
 't275',
 't486',
 't1031',
 't1051',
 't1065',
 't149',
 't1110',
 't182',
 't340',
 't900',
 't666',
 't767',
 't742',
 't258',
 't428',
 't1172',
 't768',
 't483',
 't760',
 't585',
 't1159',
 't1111',
 't785',
 't345',
 't485',
 't783',
 't383',
 't863',
 't432',
 't95',
 't344',
 't545',
 't1061',
 't602',
 't507',
 't921',
 't970',
 't1019',
 't688',
 't447',
 't473',
 't104',
 't1135',
 't176',
 't770',
 't910',
 't9',
 't611',
 't288',
 't971',
 't752',
 't1047',
 't794',
 't1133',
 't682',
 't319',
 't36',
 't683',
 't80',
 't170',
 't1040',
 't658',
 't977',
 't1154',
 't906',
 't496',
 't81',
 't956',
 't976',
 't1130',
 't1109',
 't1155',
 't632',
 't1161',
 't482',
 't918',
 't250',
 't1100',
 't1044',
 't322',
 't266',
 't121',
 't598',
 't290',
 't132',
 't695',
 't804',
 't584',
 't838',
 't379',
 't1180',
 't75',
 't743',
 't799',
 't675',
 't947',
 't840',
 't665',
 't117',
 't1071',
 't1069',
 't474',
 't618',
 't620',
 't391',
 't1089',
 't78',
 't370',
 't361',
 't1182',
 't835',
 't1070',
 't951',
 't158',
 't112',
 't605',
 't113',
 't708',
 't423',
 't1164',
 't826',
 't234',
 't526',
 't587',
 't1027',
 't548',
 't532',
 't646',
 't711',
 't492',
 't283',
 't676',
 't830',
 't670',
 't386',
 't699',
 't256',
 't1186',
 't382',
 't245',
 't156',
 't467',
 't280',
 't216',
 't228',
 't983',
 't522',
 't279',
 't70',
 't551',
 't502',
 't430',
 't772',
 't497',
 't285',
 't934',
 't819',
 't702',
 't1083',
 't957',
 't393',
 't1181',
 't800',
 't572',
 't499',
 't1174',
 't294',
 't1073',
 't350',
 't538',
 't902',
 't265',
 't30',
 't817',
 't647',
 't845',
 't368',
 't188',
 't397',
 't311',
 't5',
 't107',
 't1018',
 't667',
 't195',
 't134',
 't1145',
 't31',
 't273',
 't690',
 't1144',
 't59',
 't1001',
 't733',
 't1192',
 't435',
 't433',
 't935',
 't103',
 't1',
 't792',
 't619',
 't389',
 't662',
 't859',
 't419',
 't712',
 't885',
 't567',
 't396',
 't698',
 't725',
 't979',
 't98',
 't1074',
 't893',
 't846',
 't583',
 't469',
 't746',
 't596',
 't48',
 't421',
 't489',
 't96',
 't762',
 't627',
 't211',
 't758',
 't303',
 't715',
 't449',
 't1106',
 't504',
 't336',
 't1200',
 't1017',
 't763',
 't412',
 't480',
 't431',
 't138',
 't771',
 't529',
 't347',
 't990',
 't454',
 't895',
 't879',
 't444',
 't401',
 't829',
 't574',
 't131',
 't268',
 't105',
 't417',
 't575',
 't37',
 't901',
 't1152',
 't884',
 't40',
 't257',
 't246',
 't793',
 't858',
 't163',
 't442',
 't22',
 't657',
 't636',
 't413',
 't919',
 't950',
 't638',
 't14',
 't1090',
 't46',
 't628',
 't33',
 't954',
 't754',
 't949',
 't437',
 't34',
 't166',
 't609',
 't600',
 't1116',
 't903',
 't1175',
 't737',
 't727',
 't929',
 't39',
 't330',
 't229',
 't505',
 't1094',
 't171',
 't1191',
 't1049',
 't936',
 't818',
 't284',
 't716',
 't66',
 't660',
 't1184',
 't911',
 't1163',
 't604',
 't1098',
 't184',
 't521',
 't889',
 't673',
 't981',
 't824',
 't270',
 't590',
 't1142',
 't882',
 't696',
 't506',
 't825',
 't151',
 't287',
 't459',
 't991',
 't523',
 't1016',
 't328',
 't663',
 't753',
 't470',
 't159',
 't563',
 't388',
 't53',
 't235',
 't941',
 't612',
 't595',
 't724',
 't844',
 't779',
 't1054',
 't812',
 't534',
 't822',
 't169',
 't989',
 't162',
 't342',
 't707',
 't394',
 't1052',
 't160',
 't1076',
 't25',
 't637',
 't194',
 't185',
 't958',
 't201',
 't360',
 't493',
 't519',
 't692',
 't15',
 't123',
 't187',
 't734',
 't1147',
 't260',
 't515',
 't1086',
 't1085',
 't183',
 't509',
 't927',
 't642',
 't988',
 't668',
 't714',
 't1112',
 't1167',
 't984',
 't745',
 't899',
 't757',
 't777',
 't1102',
 't230',
 't323',
 't207',
 't652',
 't765',
 't359',
 't52',
 't671',
 't500',
 't625',
 't726',
 't517',
 't633',
 't546',
 't1108',
 't869',
 't317',
 't511',
 't238',
 't996',
 't797',
 't1126',
 't71',
 't300',
 't1146',
 't986',
 't157',
 't120',
 't99',
 't404',
 't778',
 't487',
 't349',
 't640',
 't542',
 't351',
 't518',
 't122',
 't878',
 't851',
 't607',
 't962',
 't601',
 't1005',
 't298',
 't966',
 't1028',
 't823',
 't834',
 't841',
 't1193',
 't26',
 't852',
 't836',
 't307',
 't135',
 't363',
 't172',
 't571',
 't364',
 't1046',
 't728',
 't705',
 't915',
 't1063',
 't402',
 't937',
 't405',
 't985',
 't883',
 't940',
 't781',
 't588',
 't573',
 't403',
 't914',
 't460',
 't1178',
 't1189',
 't814',
 't687',
 't639',
 't1062',
 't205',
 't217',
 't327',
 't1004',
 't1068',
 't57',
 't722',
 't346',
 't1140',
 't426',
 't55',
 't842',
 't931',
 't468',
 't337',
 't650',
 't993',
 't130',
 't316',
 't516',
 't400',
 't218',
 't463',
 't226',
 't4',
 't143',
 't872',
 't73',
 't410',
 't222',
 't35',
 't381',
 't787',
 't196',
 't802',
 't69',
 't651',
 't212',
 't338',
 't291',
 't1197',
 't1036',
 't691',
 't1045',
 't392',
 't58',
 't225',
 't85',
 't717',
 't780',
 't387',
 't531',
 't16',
 't133',
 't446',
 't855',
 't481',
 't591',
 't890',
 't200',
 't1198',
 't881',
 't1141',
 't864',
 't790',
 't348',
 't891',
 't723',
 't886',
 't240',
 't1187',
 't461',
 't524',
 't119',
 't186',
 't631',
 't649',
 't880',
 't422',
 't263',
 't965',
 't932',
 't450',
 't924',
 't933',
 't525',
 't177',
 't92',
 't1042',
 't89',
 't747',
 't1029',
 't562',
 't972',
 't1056',
 't653',
 't74',
 't1007',
 't452',
 't861',
 't60',
 't375',
 't1053',
 't839',
 't233',
 't1118',
 't1196',
 't62',
 't807',
 't925',
 't494',
 't399',
 't508',
 't124',
 't684',
 't887',
 't997',
 't90',
 't1026',
 't677',
 't1021',
 't384',
 't321',
 't305',
 't871',
 't197',
 't1002',
 't1075',
 't603',
 't129',
 't945',
 't896',
 't833',
 't427',
 't547',
 't1041',
 't248',
 't967',
 't813',
 't462',
 't568',
 't51',
 't1000',
 't873',
 't854',
 't641',
 't1169',
 't488',
 't272',
 't87',
 't219',
 't1020',
 't1151',
 't356',
 't1013',
 't242',
 ...]

## Step 3: Setting Up The tree

In [38]:
def sigmoid(z):
    return 1/(1+np.exp(-z))

def calculate_Pn_per_node(weights,bias,values):
    weights_transposed = weights.reshape(-1, 1)
    result = np.dot(weights_transposed, values)
    result -= bias
    return sigmoid(result)


class Node:
    def __init__(self, data,features):
        self.data = data
        self.left = None
        self.right = None
        self.wieghts = np.ones(len(data))
        self.features = features
        self.bias = 0
        mean = 0
        std_dev = 10
        num_categories = 8
        self.propapbilityDist = np.random.normal(mean, std_dev, num_categories)


def build_tree(node, max_depth):
    if max_depth == 0 or len(node.data) == 0:
        return node.propapbilityDist 

    left_data = node.data[calculate_Pn_per_node(node.weights,node.bias,node.data[features].values) <0.5]
    right_data = node.data[calculate_Pn_per_node(node.weights,node.bias,node.data[features].values) >=0.5]
    node.left = Node(left_data)
    node.right = Node(right_data)

    build_tree(node.left, max_depth - 1)
    build_tree(node.right, max_depth - 1)


def predict(node, record):
    if node.prediction is not None:
        return node.prediction

    if calculate_Pn_per_node(node.weights, node.bias, row) < 0.5:
        return predict(node.left, row)
    else:
        return predict(node.right, row)


# root = Node(train_data)
# build_tree(root, max_depth=3)